
MergeSort/.vs/MergeSortParrallel/v16/.suo
*.json
*.dll
*.pdb
*.exe
*.sln
*.cs
MergeSort/MergeSortParrallel.csproj
MergeSort/obj/Debug/netcoreapp3.1/MergeSortParrallel.AssemblyInfoInputs.cache
MergeSort/obj/Debug/netcoreapp3.1/MergeSortParrallel.assets.cache
MergeSort/obj/Debug/netcoreapp3.1/MergeSortParrallel.csproj.CoreCompileInputs.cache
MergeSort/obj/Debug/netcoreapp3.1/MergeSortParrallel.csproj.FileListAbsolute.txt
MergeSort/obj/Debug/netcoreapp3.1/MergeSortParrallel.csprojAssemblyReference.cache
MergeSort/obj/Debug/netcoreapp3.1/MergeSortParrallel.genruntimeconfig.cache
MergeSort/obj/MergeSortParrallel.csproj.nuget.g.props
MergeSort/obj/MergeSortParrallel.csproj.nuget.g.targets
MergeSort/obj/project.nuget.cache
